RewriteEngine On

# Статика як є
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Preflight (OPTIONS) -> front controller
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^ index.php [L]

# Усі інші запити -> front controller Yii2 у корені
RewriteRule ^ index.php [L]
