Options FollowSymLinks
IndexIgnore */*
RewriteEngine On

# Віддавати напряму існуючі файли
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Пропускаємо preflight (OPTIONS) у front controller
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^ index.php [L]

# Інші запити — у front controller Yii2
RewriteRule ^ index.php [L]
